<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="text-center">
    <ion-toolbar>
      <ion-title class="text-center" style="font-size: 25px;">Aaron's Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="datetime-container" style="padding-top: 40px;">
    <div id="time">{{ currentTime }}</div>
    <div id="date">{{ currentDate }}</div>
    <div id="timeOfDay">Good {{ timeOfDay }}!</div>
  </div>

  <div class="container" style="padding-top: 40px; padding-left: 10px; padding-right: 10px;">
    <div class="sleep-summary">
      <h1>View Your Data Here!</h1>
      <p>Make sure you get at least 8 hours of sleep!</p>
      <div class="button-container">
        <ion-button fill="outline" size="medium" color="dark" id="allLoggedData">View All Logged Data</ion-button>
        <ion-modal trigger="allLoggedData" [initialBreakpoint]="1" [breakpoints]="[0, 1]" (willPresent)="openModal()">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>All Logged Data</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="dismissModal()"> Close </ion-button>
                </ion-buttons>
              </ion-toolbar>
              
              <ion-list>
                <ion-item *ngFor="let entry of allStoredData">
                  <ion-label>
                    <h3>{{ entry.key }}</h3>
                      <ion-list>
                        <ion-item *ngFor="let item of entry.data">
                          <p>{{ item | json }}</p>
                        </ion-item>
                      </ion-list>
                    </ion-label>
                  </ion-item>
                </ion-list>
            </ion-header>
          </ng-template>
        </ion-modal>
      </div>
    </div>
    

    <!-- <canvas #sleepChart></canvas> -->
  </div>
</ion-content>

<ion-footer>

  <div class="button-container">
    <ion-button shape="round" size="large" color="dark" id="open-modal-sleep-hours">Log Sleep Hours</ion-button>
  </div>
  <div class="button-container">
    <ion-button shape="round" size="large" color="dark" style="padding-bottom: 10px;" id="open-modal-sleepiness">Log Sleepiness</ion-button>
  </div>

  <!-- sleepiness modal -->
  <ion-modal trigger="open-modal-sleepiness" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Log Sleepiness</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="block">
        <div class="container">

          <div class="button-container">
            <ion-grid>
              <ion-row class="ion-align-items-start">
                <!-- sleepiness scale -->
                <ion-col>
                    <p style="font-size: 23px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                      How sleepy do you feel right now?
                    </p>
                    <p style="font-size: medium; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    [ 1 = Wide Awake!! <span>7 = Snoozefest...</span> ]
                    </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <!-- range slider -->
                <ion-col>
                  <ion-range aria-label="Range with ticks" [pin]="true" [ticks]="true" [snaps]="true" [min]="1" [max]="7" (ionChange)="onRangeChange($event)"></ion-range>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    When did you feel this sleepiness?
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-datetime-button datetime="datetime-slept"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime
                        id="datetime-slept"
                        presentation="date-time"
                        [formatOptions]="{
                          date: {
                            weekday: 'short',
                            month: 'long',
                            day: '2-digit',
                          },
                          time: {
                            hour: '2-digit',
                            minute: '2-digit',
                          },
                        }"
                        [showDefaultButtons]="true"
                        [preferWheel]="true"
                        (ionChange) = "onSleepinessTimeChange($event)"
                      ></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          

          <ion-text color="danger" *ngIf="!selectedSleepinessTime(); else altText">Time is required!</ion-text>
          <ng-template #altText>
            <ion-text color="success">Log to Continue!</ion-text>
          </ng-template>

          <!-- submit button with are you sure + required fields modals -->
          <div class="button-container">
            <ion-button [disabled]="!selectedSleepinessTime()" shape="round" size="large" color="dark" (click)="logSleepinessSleepData(); dismissModal()">Log Sleepiness</ion-button>
          </div>
            
        </div>
      </div>
    </ng-template>
  </ion-modal>

  <!-- sleep hours modal -->
  <ion-modal trigger="open-modal-sleep-hours" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Log Sleep Hours</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <div class="block">
        <div class="container">

          <!-- slept at -->
          <div class="button-container" style="padding: 10px;">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <div style="padding-right: 3px; font-size: 23px; font-weight: bold; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    I fell asleep at:
                  </div>
                </ion-col>
                <ion-col>
                  <ion-datetime-button datetime="datetime-slept"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime
                        id="datetime-slept"
                        presentation="date-time"
                        [formatOptions]="{
                          date: {
                            weekday: 'short',
                            month: 'long',
                            day: '2-digit',
                          },
                          time: {
                            hour: '2-digit',
                            minute: '2-digit',
                          },
                        }"
                        [showDefaultButtons]="true"
                        [preferWheel]="true"
                        (ionChange)="onSleptDateTimeChange($event)"
                      ></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
          
          <!-- woke at -->
          <div class="button-container" style="padding: 10px;">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col>
                  <div style="padding-right: 5px; font-size: x-large; font-weight: bold; 
                  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    I woke up at: 
                  </div>
                </ion-col>

                <ion-col>
                  <ion-datetime-button datetime="datetime-woke"></ion-datetime-button>
                  <ion-modal [keepContentsMounted]="true">
                    <ng-template>
                      <ion-datetime
                        id="datetime-woke"
                        presentation="date-time"
                        [formatOptions]="{
                          date: {
                            weekday: 'short',
                            month: 'long',
                            day: '2-digit',
                          },
                          time: {
                            hour: '2-digit',
                            minute: '2-digit',
                          },
                        }"
                        [showDefaultButtons]="true"
                        [preferWheel]="true"
                        (ionChange)="onWokeDateTimeChange($event)"
                      ></ion-datetime>
                    </ng-template>
                  </ion-modal>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>


          <ion-text color="danger" *ngIf="wokeTimeBeforeOrEqualSleptTimeOrValuesNull(); else alternateText">Select both times. Wake time cannot be earlier than or equal to time slept!</ion-text>
          <ng-template #alternateText>
            <ion-text color="success">Valid. Log to Continue!</ion-text>
          </ng-template>

          <!-- submit button with are you sure + time logic modals -->
          <div class="button-container">
            <ion-button [disabled]="wokeTimeBeforeOrEqualSleptTimeOrValuesNull()" shape="round" size="large" color="dark" (click)="logOvernightSleepData(); dismissModal()">Log Sleep Hours</ion-button>
          </div>
            
        </div>
      </div>
    </ng-template>
  </ion-modal>
  
  <ion-toolbar><ion-title class="animated-text">Good {{ timeOfDay }}, Aaron.</ion-title></ion-toolbar>
</ion-footer>